body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #071c19;
    color: white;
}

header {
    padding: 25px 8%;
    border-bottom: 1px solid #24443e;
}

h1 {
    color: #55dbc7;
    font-size: 45px;
}

h2 {
    color: #55dbc7;
}

p {
    color: #b8cbc6;
    font-size: 18px;
    line-height: 1.7;
}

section {
    padding: 60px 8%;
}

li {
    margin: 15px 0;
    color: #d7e5e1;
}
